@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #000;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 31.25%;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}

@media only screen and (max-width: 37.5em) {
  .form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
  }
}

.form__msg,
.form__container {
  flex: 0 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form__container {
  flex: 1;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 5rem 20rem;
}

.form__msg {
  align-items: center;
  background-color: var(--color-primary-dark);
  width: 35%;
  order: 1;
  overflow: hidden;
}

.form__msg img {
  display: block;
  width: 20rem;
  height: auto;
}

@media only screen and (max-width: 37.5em) {
  .form__msg {
    order: -1;
    background-color: transparent;
  }

  .form__msg img {
    width: 100%;
  }

  .form__container {
    flex: 0 0 auto;
    width: 90%;
    padding: 0;
    gap: 2rem;
  }
}

.form__terms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form__terms label {
  display: inline-block;
}

.form__submit {
  width: 100%;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

input[type="checkbox"] {
  width: auto;
  margin-bottom: 0;
}

h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

label {
  letter-spacing: 1px;
  font-weight: bold;
}

input {
  background-color: rgba(215, 232, 239, 0.77);
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 0;

  font: inherit;
}

button {
  background-color: var(--color-primary-dark);
  font-size: inherit;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  padding: 2rem;
  width: 100%;
  border: 0;
}

button:hover {
  background-color: #7da9dced;
}

@media only screen and (max-width: 37.5em) {
  label {
    font-size: 2rem;
  }
}
